@model PartnerFormModel

@{
    ViewBag.Title = "Add Partner";
}


@section Styles{
    <link rel="stylesheet" href="~/css/AllCreateAndEditPages.css" />
}

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-3 offset-xl-4">
        <form method="post">
            <div class="logo">
                <img src="~/lib/Images/logo.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                <h2>Add partner</h2>
            </div>
            <div class="form-group">
                <label asp-for=Name>Name<span class="text-danger">*</span></label>
                <input asp-for="Name" class="form-control" placeholder="Above the rest...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Description>Description<span class="text-danger">*</span></label>
                <textarea rows="3" asp-for="Description" class="form-control" placeholder="We are the coollest brand..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=ImageUrl>Image URL<span class="text-danger">*</span></label>
                <input asp-for="ImageUrl" class="form-control" placeholder="https://image...">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Url>Site URL<span class="text-danger">*</span></label>
                <input asp-for="Url" class="form-control" placeholder="https://softuni...">
                <span asp-validation-for="Url" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=PromoCode>Promo code<span class="text-danger">*</span></label>
                <input asp-for="PromoCode" class="form-control" placeholder="Summer20...">
                <span asp-validation-for="PromoCode" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn">Add</button>
        </form>
    </div>
</div>

