@model CustomerFormModel

@{
    ViewBag.Title = "Become Customer";
}

@section Styles{
    <link rel="stylesheet" href="~/css/AllCreateAndEditPages.css" />
}

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper col-sm-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4">
        <form method="post">
            <div class="logo">
                <img src="~/lib/Images/logo.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                <h2>Becоme Customer</h2>
            </div>
            <div class="form-group">
                <label asp-for=FullName>Full Name<span class="text-danger">*</span></label>
                <input asp-for="FullName" class="form-control" placeholder="Peter Petrov">
                <span asp-validation-for="FullName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=PhoneNumber>Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="+359888888888">
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Sex>Sex</label>
                <input asp-for="Sex" class="form-control" placeholder="Male, Female, other...">
                <span asp-validation-for="Sex" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Age>Age<span class="text-danger">*</span></label>
                <input asp-for="Age" class="form-control" placeholder="18">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=DesiredResults>Desired Results<span class="text-danger">*</span></label>
                <textarea rows="3" asp-for="DesiredResults" class="form-control" placeholder="I wanna be very strong..."></textarea>
                <span asp-validation-for="DesiredResults" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn">Become Customer</button>
        </form>
    </div>
</div>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
