@model CustomerFormModel

@section Styles{
    <link rel="stylesheet" href="~/css/AllCreateAndEditPages.css" />
}

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper">
        <form method="post">
            <div class="logo">
                <img src="~/lib/Images/logo.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                <h2>Becоme Customer</h2>
            </div>
            <div class="form-group">
                <label asp-for=FirstName>First Name<span class="text-danger">*</span></label>
                <input asp-for="FirstName" class="form-control" placeholder="Peter">
                <span asp-validation-for="FirstName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=LastName>Last Name<span class="text-danger">*</span></label>
                <input asp-for="LastName" class="form-control" placeholder="Petrov">
                <span asp-validation-for="LastName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Age>Age<span class="text-danger">*</span></label>
                <input asp-for="Age" class="form-control" placeholder="18">
                <span asp-validation-for="Age" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Weight>Weight<span class="text-danger">*</span></label>
                <input asp-for="Weight" class="form-control" placeholder="75.5">
                <span asp-validation-for="Weight" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Height>Height<span class="text-danger">*</span></label>
                <input asp-for="Height" class="form-control" placeholder="187.7">
                <span asp-validation-for="Height" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=DesiredResults>Desired Results<span class="text-danger">*</span></label>
                <textarea rows="5" asp-for="DesiredResults" class="form-control" placeholder="I wana be very strong..."></textarea>
                <span asp-validation-for="DesiredResults" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn">Become Customer</button>
        </form>
    </div>
</div>
