@model BestResultFormModel

@section Styles{
    <link rel="stylesheet" href="~/css/AllCreateAndEditPages.css" />
}

<div class="section">
    <div class="color-overlay"></div>
    <div class="wrapper">
        <form method="post">
            <div class="logo">
                <img src="~/lib/Images/logo.png" alt="">
            </div>
            <div class="text-center mt-4 name">
                <h2>Create Best Result</h2>
            </div>
            <div class="form-group">
                <label asp-for=ImageUrlBefore>Image Before<span class="text-danger">*</span></label>
                <input asp-for="ImageUrlBefore" class="form-control" placeholder="https://image...">
                <span asp-validation-for="ImageUrlBefore" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=ImageUrlAfter>Image After<span class="text-danger">*</span></label>
                <input asp-for="ImageUrlAfter" class="form-control" placeholder="https://image...">
                <span asp-validation-for="ImageUrlAfter" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for=Story>Story<span class="text-danger">*</span></label>
                <textarea rows="5" asp-for="Story" class="form-control" placeholder="George starting my program..."></textarea>
                <span asp-validation-for="Story" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn custom-btn">Add</button>
        </form>
    </div>

</div>
