@model List<PostViewModel>

@section Styles{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/AllPosts.css" />
}


<div class="body-section">
    <section class="elements-container scroll">
        @if (!Model.Any())
        {
            <h2>There is no post created</h2>
        }
        @if (Model.Any())
        {
            <div class="container d-flex flex-wrap align-items-center">
                @foreach (var post in Model)
                {
                     <a asp-area="" asp-controller="Posts" asp-action="Details" asp-route-id="@post.PostId">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://bbteamcdn.com/content/originals/4847.jpg" alt="Image">
                    <div class="card-body">
                        <h5 class="card-title">@post.Title</h5>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <p class="link-muted me-2"><i class="fa fa-thumbs-up"></i>@post.LikesCount</p>
                                <p class="link-muted"><i class="fa fa-thumbs-down"></i>15</p>
                            </div>
                            <p class="link-muted"><i class="fas fa-comment"></i>@post.CommentsCount</p>
                        </div>
                    </div>
                </div>
            </a>
                }           
            </div>
        }
    </section>
</div>

@section Scripts{
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
}