body::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}
.card {
    border-radius: 8px;
    border: 1px solid #cccccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    transition: all linear 200ms;
    margin: 40px 30px 30px 30px;
    background-color: grey;
    position:relative;
}

.card h5{
    color: white;
}

.card p{
    color:white;
}

a:link {
    text-decoration: none;
}
.card:hover {
    transform: scale(1.1);
    transition: all linear 200ms;
    z-index: 1;
    box-shadow: 1px 1px 10px rgba(0,0,0,.3);
    cursor: pointer;
}

.elements-container {
    min-width: 1200px;
    max-width: 1200px;
    min-height: 700px;
    max-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto;
    border-radius: 15px;
    background: rgba(128, 128, 128, 0.4);
}

.elements-container::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
}

.body-section {
    width: 100%;
    height: 100vh;
    background-color: black;
    /*background: url(/lib/Images/posts-all-background.jpg) center top fixed;*/
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.scroll {
    margin: 5px;
    padding: 5px;
    width: 500px;
    height: 110px;
    overflow: scroll;
    text-align: justify;
}

.no-post-container{
    background-color: white;
    color: black;
    border-radius: 15px;
    text-align: center;
}

.custom{
    width: 100%;
    height: 100%;
    background-color: yellow;
    border: none;
    
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.custom:hover {
    background-color: red;
}

.btn-container {
     width: 50px;
     height: 100%;
     margin: 0px 0px 0px 0px;
}

.left {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}
.right {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}