@media only screen and (max-width:1200px) {
    .elements-container {
        max-width: 770px;
    }

    .body-section {
        min-height: 1200px;
    }
}

@media only screen and (max-width:800px) {
    .elements-container {
        max-width: 400px;
    }

    .body-section {
        min-height: 2000px;
    }
}
